; 链接器配置: MMC3 PRG 256KB (32 × 8KB bank) + CHR 128KB
; 天使之翼2 内存布局:
;   CPU: $6000-$7FFF PRG RAM (8KB battery)
;        $8000-$9FFF R6 (bank0-31 可切)
;        $A000-$BFFF R7 (bank0-31 可切)
;        $C000-$DFFF 固定 bank30
;        $E000-$FFFF 固定 bank31 (含 Reset/NMI/IRQ 向量)

MEMORY {
    HEADER:  type = ro, start = $0000,    size = $0010, file = %O, fill = yes, fillval = $00;
    PRG0:    type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG1:    type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG2:    type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG3:    type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG4:    type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG5:    type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG6:    type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG7:    type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG8:    type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG9:    type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG10:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG11:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG12:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG13:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG14:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG15:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG16:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG17:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG18:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG19:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG20:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG21:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG22:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG23:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG24:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG25:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG26:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG27:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG28:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG29:   type = ro, start = $8000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG30:   type = ro, start = $C000,    size = $2000, file = %O, fill = yes, fillval = $FF;
    PRG31:   type = ro, start = $E000,    size = $1FFA, file = %O, fill = yes, fillval = $FF;
    VECTORS: type = ro, start = $FFFA,    size = $0006, file = %O, fill = yes, fillval = $FF;
    CHR:     type = ro, start = $0000,    size = $20000, file = %O, fill = yes, fillval = $00;
}

SEGMENTS {
    HEADER: load = HEADER, type = ro;
    PRG00:  load = PRG0,  type = ro;
    PRG01:  load = PRG1,  type = ro;
    PRG02:  load = PRG2,  type = ro;
    PRG03:  load = PRG3,  type = ro;
    PRG04:  load = PRG4,  type = ro;
    PRG05:  load = PRG5,  type = ro;
    PRG06:  load = PRG6,  type = ro;
    PRG07:  load = PRG7,  type = ro;
    PRG08:  load = PRG8,  type = ro;
    PRG09:  load = PRG9,  type = ro;
    PRG10:  load = PRG10, type = ro;
    PRG11:  load = PRG11, type = ro;
    PRG12:  load = PRG12, type = ro;
    PRG13:  load = PRG13, type = ro;
    PRG14:  load = PRG14, type = ro;
    PRG15:  load = PRG15, type = ro;
    PRG16:  load = PRG16, type = ro;
    PRG17:  load = PRG17, type = ro;
    PRG18:  load = PRG18, type = ro;
    PRG19:  load = PRG19, type = ro;
    PRG20:  load = PRG20, type = ro;
    PRG21:  load = PRG21, type = ro;
    PRG22:  load = PRG22, type = ro;
    PRG23:  load = PRG23, type = ro;
    PRG24:  load = PRG24, type = ro;
    PRG25:  load = PRG25, type = ro;
    PRG26:  load = PRG26, type = ro;
    PRG27:  load = PRG27, type = ro;
    PRG28:  load = PRG28, type = ro;
    PRG29:  load = PRG29, type = ro;
    PRG30:  load = PRG30, type = ro;
    PRG31:  load = PRG31, type = ro;
    VECTORS: load = VECTORS, type = ro;
    CHRBANK: load = CHR, type = ro;
}
